@media (max-width:400px){
    *{
        margin:0;
        padding:0;
    }
    #home-container{
        background-color:#737373;
        min-height:844px;
        min-width: 390px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    #home-text{
        font-size:50px;
        text-decoration: none;
        color:black;
    }

    
}
